# EXACT --------------------------------------------------------------------------------------------
/ignore/

# FILES BY MASK ------------------------------------------------------------------------------------
.idea
.DS_Store
