# EXACT --------------------------------------------------------------------------------------------
/ignore/
/node_modules/

# FILES BY MASK ------------------------------------------------------------------------------------
.idea
.DS_Store
