# EXACT --------------------------------------------------------------------------------------------
/ignore/
/node_modules/
/bower_components/

# FILES BY MASK ------------------------------------------------------------------------------------
.idea
.DS_Store
